

/* overlay this styles on all window drey */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: grey;
    z-index: 1;
    display: flex;
}

/* this modal window aqua */
/* .modal {
    width: 100px;
    height: 100px;
    background-color: aqua;
    border-radius: 10px;
    margin: auto;
    padding: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
} */

/* hide aur modal on monitor */
.hide {
    display: none;
} 

.close {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }

  /* .modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    text-align: center;
  } */

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }